@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.dflex{
    display: flex;
}

body{
    font-family: "Cinzel", serif;
    margin-left: 30px;
    background-color: rgb(15, 15, 15);
}

