@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
}


.left{
    width: 50%;
    height: 35vh;
    color: white;
    margin-top: 10%;

    font-family: "DM Sans", sans-serif;
    cursor:default;
}

.right{
    width: 50%;
    height: 100vh;
    /* background-color: #56789c; */
    background-color: beige;
}

.tagline p{
    font-size: 61px;

    
}

.tagline p:hover{
    /* color: #bb94c6; */
    color: #88beed;
    
}

.knowmore{
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 20%;
    padding: 12px;
    width: 10vw;
    
    cursor: pointer;
    border: none;
}

.knowmore:hover{
    width: 10.4vw;
    transition: 0.2s;
    background-color: aqua;
}

.arrowRght{
    margin-left: 5px;
}

.footprints{
    color: white;
}

.footprints p{
    cursor: pointer;
}

.chatimg{
    position: relative;
}

.chatHover{
    position: absolute;
    margin-top: -100px;
    background-color: #fff;
    color: black;
    margin-left: -40px;
    padding: 10px 10px;
    border-radius: 7px;
    white-space: nowrap;
    display: none;
 
}

.chatHover::before{
    content: "";
    top: 100%;
    left: 50%;
    position: absolute;
    border: 10px solid;
    transform: translateX(-50%);
    border-color: #fff #0000 #0000 #0000;
}

.visible{
    display: block;
    
}